<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous"
    >
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css"
        integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
       <link rel="icon" type="image/png" href="../static/image/icon.png">
      <title>GrandPy'Bot</title>
  </head>
   <body>
    <div class="container">
      <div class="row justify-content-md-center ">
        <div class="text-center">
          <img src="{{ url_for('static', filename='image/icon.png')}}" class="img-fluid" alt="Responsive image">
        </div>
      </div>
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col">
          <h1>GrandPy'Bot</h1>
          <p class="text-center-md-center"> Une adresse ... une histoire!</p>
          <hr class="my-4">
        </div>
      </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-8 col-lg-12">
          <form id="user-text-form">
            <div class="form-group" >
              <label for="userText"  for="input_message"></label>
              <input type="text" class="form-control" id="userText" name="userText" placeholder="Où se trouve OpenClassrooms?" id="input_message" >
            </div>
            <button type="submit" class="btn btn-outline-primary btn-rounded" id="btn-one" value="Envoyer" data-loading-text="<i class='fa fa-spinner fa-spin '></i> En cours...">Envoyer</button>
          </form>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-8 col-lg-12">
          <div class="row">
            <div class="col-8 col-lg-12" id="address_geocode"></div>
          </div>
          <div class="row">
            <div class="col-8 col-lg-12">
              <div class="map" id="map"></div>
            <script
              src="https://maps.googleapis.com/maps/api/js?key={{ key }}&callback=initMap"
              async
            ></script>
            </div>
          </div>
        </div>
          <div class="row">
            <div class="col-8 col-lg-12" id="extract_wiki"></div>
          </div>
      </div>
    </div>
      <div class="container">
        <div class="row">
        </div>
      </div>

     <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='js/script.js') }}" async></script>
  </body>
</html>
