$headings-font-family: "Helvetica", sans-serif;

$enable-rounded:     true !default;

$primary: #22A1ED;
$dark: #04040C;
$headings-color: #985422;
$card-bg: #FCFCFC;

$body-color: #000000;
$jumbotron-bg: #4c586f;
